{% extends 'base.html' %}
{% load users_extras %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 w-25">
            {% profile_menu user %}
        </div>
        <div class="col-sm-6 w-75">
            <h1>Edit your account</h1>
            <p>You can edit your account using the following form:</p>
            <form method="post">
                {% csrf_token %}
                {{ user_form.as_p }}
                <button type="submit">Save changes</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
