{% extends 'base_st.html' %}
{% load custom_tags %}
{% block content %}
<div class="container mt-5">
    <div class="row">

        <div class="col-md-4 col-lg-3 mb-4">
            <div class="card">
                <div class="card-body">
                    {% profile_menu request.user %}
                </div>
            </div>
        </div>
        
        <div class="col-md-8 col-lg-9">
            <div class="card">
                <div class="card-body">
                    <h2 class="h4 mb-4">Password Reset</h2>
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary">Send Instructions</button>
                    </form>
                    <a href="{% url 'myapp:login' %}" class="btn btn-secondary mt-3">Back to login</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
